<div>

  <app-header></app-header>

  <router-outlet></router-outlet>

  <!-- <mat-card>
    <button flex mat-raised-button (click)="googleSignIn()">Google Sign In</button>
    <div *ngIf="afAuth.user | async as user; else showLogin">
      <h1>Hello {{ user.displayName }}!</h1>
      <button mat-raised-button color="primary" (click)="googleLogOut()">Logout</button>
      <button mat-raised-button color="accent" (click)="getShows()">Get Shows</button>
    </div>
    <ng-template #showLogin>
      <p>Please login.</p>
      <button mat-raised-button color="accent" (click)="login()">Login with Google</button>
    </ng-template>
  </mat-card> -->

  <span class="done">
    <button mat-fab>
      <mat-icon>check circle</mat-icon>
    </button>
  </span>
</div>
