<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="start center" fxLayoutGap="1%">
  <mat-card fxFlex="24%" class="card" *ngFor="let item of results">
    <mat-card-header>
      <mat-card-title>{{item.show.title}}</mat-card-title>
      <mat-card-subtitle>Score: {{item.score}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">Add</button>
      <button mat-raised-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
