<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="start center" fxLayoutGap="1%">
  <mat-card fxFlex="11.5%" class="card" *ngFor="let show of results">
    <img mat-card-image src="https://image.tmdb.org/t/p/original{{show.poster_path}}" />
    <mat-card-header>
      <mat-card-title><b>{{show.name}}</b></mat-card-title>
      <!-- <mat-card-subtitle>Score: </mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-actions>
      <button mat-raised-button mat-fab color="primary">
          <mat-icon>add</mat-icon>
      </button>
      <button mat-button color="accent">DETAILS</button>
    </mat-card-actions>
  </mat-card>
</div>
